.myBtn{
    margin-top: 15px;
    height: auto;
    width: 100px;
    margin: 5px;
     margin-bottom: 20px;
    background: linear-gradient(252.71deg, #38FCF3 0%, #35C9F2 99.62%);
border-radius: 20px;
}