.nav__items{
    position: absolute;
    top: 210px;
    color: #eeeeee;
    font-size: 36px;
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.img{
    margin-right: 10px;
}
.item{
    margin-top: 15px;
}
.click {
    /* margin: 5px; */
    font-size: 36px;
    background: none;
    color: rgb(255, 255, 255);  
    text-decoration: none;
    border: none;
    outline: none;
}

