.search__submit {
  position: absolute;
  top: 0px;
  right: 5px;
  padding: 0;
  height: 41px;
  width: 50px;
  outline: none;
  border: none;
  background-image: url(../../images/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 20px;
  background-color: transparent;
  z-index: 10;
}

.search__submit:hover {
  cursor: pointer;
}
